@font-face {
  font-family: "iconfont"; /* Project id 4680420 */
  src: url('iconfont.woff2?t=1725978941629') format('woff2'),
       url('iconfont.woff?t=1725978941629') format('woff'),
       url('iconfont.ttf?t=1725978941629') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-baocun:before {
  content: "\e936";
}

.icon-bianji:before {
  content: "\e840";
}

